-# = "#{@tweet_count} Tweets"
.sun
  .ray_box
    .ray.ray1
    .ray.ray2
    .ray.ray3
    .ray.ray4
    .ray.ray5
    .ray.ray6
    .ray.ray7
    .ray.ray8
    .ray.ray9
    .ray.ray10


.forest
  #tree
    %h1#counter= @tweet.counter
    #moving_bar_container
      #moving_bar
