/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 #moving_bar_container {
   height: 179px;
   width: 34px;
   position: absolute;
   bottom: 15px;
 }

 #moving_bar {
   height: 5%;
   background-color: red;
   width: 15px;
   bottom: 0;
   position: absolute;
   margin: auto;
   margin-left: 9px;
   z-index: 100;
 }
